body{
    background-color: rgb(45, 42, 42);
}

.wrap{
    width: 500px;
    height: 500px;
    justify-self: center;
    background-color: rgb(127, 182, 255); /* replace color with img when possible */
}

.car{
    width: 300px;
    height: 150px;
    justify-self: center;
}

.bucket{
    width: 50px;
    height: 50px;
    
}


.winningScreen{
    background-color: rgba(255, 255, 0, 0.5);
    color:black;

    width: 100px;
    height: 100px;
    display: none;
    justify-self: center;
    align-items:center;
}


#bar-container {
  width: 300px;
  height: 30px;
  border: 2px solid #000;
  background-color: #eee;
  margin-bottom: 10px;
  position: relative;
}

#bar-fill {
  height: 100%;
  width: 0%;
  background-color: limegreen;
  transition: width 0.3s;
}

#percentage {
  position: absolute;
  width: 100%;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
}

#buttons {
  margin-top: 10px;
}

button {
      padding: 10px 15px;
      margin: 5px;
      font-size: 1em;
    }